<p>Hello, {{ username }}!</p>
<p>It seems you want to change your password, so here is the token to do it</p>
<p>
    <span style="color: green">{{ token }}</span>
</p>

<p>If you did not request this email you can safely ignore it.</p>